[phases.setup]
nixPkgs = ["python311", "libGL"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "python3 start_backend.py"
